<a href="/events/show">Admin</a>

<h2>About Us:</h2>
<% @events.each do |info| %>

<table>
	<tr>
		
		<td> <%= info.information %> </td>
		<td>
			<a href="/events/<%= info.id %>/edit">Edit</a>
		</td>

		<td>
  			
    			<form action='/events/<%= info.id %>' method='post'>
      				<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
      				<input type='hidden' name='_method' value='delete'>
      				<input type='submit' value='Delete'>
    			</form>
    		
		</td>
	</tr>

</table>
<% end %>
